// Colors
$color-green: #25ca7f;

$color-dark-grey: #111517;
$color-medium-grey: #292929;

$color-text-light-grey: #cecece;
$color-text-description-light-grey: #777;
$color-background-light-grey: #ececec;

$color-white: #fff;
$color-black: #000;

// Margins and paddings
$space-small: 2rem;
$space-medium: 4rem;
$space-big: 6rem;