.about {
    background-color: $color-dark-grey;
    padding: $space-medium 0;
    text-align: center;

    &__image {
        border-radius: 50%;
        width: 20rem;
        margin-bottom: $space-small;
    }

    &__text-container {
        background-color: $color-medium-grey;
        padding: 3rem;
    }

    &__text {
        color: $color-green;
        font-family: "Open Sans", sans-serif;
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.8;
    }
}