.portfolio {
    padding: $space-medium 0;

    @media (min-width: $tablet-landscape) {
        background-color: $color-background-light-grey;
    }

    &__grid-container {

        @media (min-width: $tablet-landscape) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 4rem;
            row-gap: 3rem;
        }
    }
}

.job {
    &:not(:last-child) {
        margin-bottom: $space-medium;
    }

    @media (min-width: $tablet-landscape) {
        padding: 3rem 4rem;
        background-color: $color-white;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &__heading {
        text-transform: uppercase;
        margin-bottom: $space-small;

        &--upper {
            font-size: 1.2rem;
            font-weight: 700;
            color: $color-green;

            @media (min-width: $tablet-landscape) {
                font-size: 1rem;
            }
        }

        &--main {
            font-size: 3rem;
            color: $color-dark-grey;

            @media (min-width: $tablet-landscape) {
                font-size: 2.6rem;
            }    
        }
    }

    &__image {
        margin-bottom: $space-small;

        img {
            width: 100%;
        }
    }

    &__description {
        margin-bottom: $space-small;
        color: $color-text-description-light-grey;
        font-size: 1.5rem;
        font-family: "Open sans", sans-serif;
        line-height: 2;

        @media (min-width: $tablet-landscape) {
            font-size: 1.3rem;
        }    
    }
}