.quote {
    background-image: url(../assets/img/road.jpg);
    background-size: cover;
    background-position: center;
    padding: $space-medium 0;

    &__container {
        padding: $space-small;
        background-color: rgba($color-black, 0.5);
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        color: $color-white;
        position: relative;

        @media (min-width: $tablet-portrait) {
            font-size: 1.6rem;
        }

        @media (min-width: $tablet-landscape) {
            width: 80%;
            margin: 0 auto;
            padding: 3 6rem;
        }

        &::before {
            content: "\201c";
            color: $color-green;
            font-size: 12rem;
            font-family: sans-serif;
            position: absolute;
            top: -4rem;
            left: 2rem;

            @media (min-width: $tablet-landscape) {
                font-size: 14rem;
                top: -5rem;
            }
        }
    }

    &__text {
        text-align: center;
        line-height: 2;
    }

    &__author {
        text-align: right;
        margin-top: 1.5rem;
    }
}