.services {
    background-color: $color-dark-grey;
    padding: $space-medium 0;

    &__composition {
        display: flex;
        justify-content: space-between;
        margin-bottom: $space-small;

        img {
            width: 48%;
        }
    }

    &__features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        text-align: center;
        color: $color-green;
    }
}

.feature-item {
    background-color: $color-medium-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .8rem;
    line-height: 1;
    
    &__icon {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    &__text {
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 1.2;
    }
}