.btn {
    height: 4rem;
    width: 13rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $desktop) {
        height: 3.5rem;
        width: 12rem;
        font-size: 1rem;
    }
    
    &--green {
        border: 1px solid $color-green;
        background-color: transparent;
        color: $color-green;
        transition: all 300ms ease-in-out;

        &:hover {
            @media (min-width: $desktop) {
                background-color: $color-green;
                color: $color-black;
            }
        }
    }

    &--black {
        background-color: $color-dark-grey;
        color: $color-white;
        transition: background-color 300ms ease-in-out;

        &:hover {
            @media (min-width: $desktop) {
                background-color: $color-medium-grey;
            }
        }
    }

    &--black-arrow {
        background-color: $color-dark-grey;
        color: $color-white;
        transition: background-color 300ms ease-in-out;

        .fa-chevron-right {
            margin-left: 1rem;
            font-size: 1.5rem;
            transition: margin-left 300ms ease-in-out;

            @media (min-width: $desktop) {
                font-size: 1.3rem;
            }
        }

        &:hover {
            @media (min-width: $desktop) {
                background-color: $color-medium-grey;
            }
            
            & .fa-chevron-right {
                margin-left: 1.4rem;
            }
        }
    }
}