.form {

    &__flex-container {

        margin-bottom: $space-small;

        @media (min-width: $tablet-landscape) {
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
        }

        > .form__field {
            
            @media (min-width: $tablet-landscape) {
                width: 48%;
            }
        }
    }
    
    &__field:not(:last-child) {
        margin-bottom: $space-small;
    }
    
    label {
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: block;
        margin-bottom: 1rem;
    }
    
    input,
    textarea {
        border: 1px solid $color-dark-grey;
        background-color: transparent;
        width: 100%;
        padding: 1rem;
        font-family: "Open Sans", sans-serif;
        font-size: 1.6rem;
        color: $color-black;
        outline: none;
        transition: all 300ms ease-in-out;

        @media (min-width: $tablet-landscape) {
            font-size: 1.4rem;
        }

        &:focus {
            background-color: $color-background-light-grey;
        }
    }
    
    input[type=text],
    input[type=email] {
        height: 4rem;
    }
    
    textarea {
        width: 100%;
        height: 10rem;
        resize: none;
    }

    button {
        cursor: pointer;
    }
}